<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ pageTitle + " - " + (2 * num1) }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>


    <ion-radio-group [(ngModel)]="favoriteColor">
      <ion-list-header>
        <ion-label>Select your favorite color</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let color of colors">
        <ion-label>{{ color.name }}</ion-label>
        <ion-radio [value]="color.value"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-item>
      <ion-label>I accept the T&C</ion-label>
      <ion-checkbox (ionChange)="onChange()" [(ngModel)]="terms"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Select a Profession</ion-label>
      <ion-select [(ngModel)]="profession" interface="action-sheet">
        <ion-select-option value="1029391">Software Professional</ion-select-option>
        <ion-select-option value="1029392">Medical Professional</ion-select-option>
        <ion-select-option value="1029393">Agriculture</ion-select-option>
        <ion-select-option value="1029394">Accountancy</ion-select-option>
        <ion-select-option value="1029395">Other</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="profession == '1029395'">
      <ion-label>Other Occupation</ion-label>
      <ion-input></ion-input>
    </ion-item>

  </ion-list>

  <ion-button color="danger" expand="block" (click)="showLoading()">Loading</ion-button>
  <ion-button color="danger" expand="block" (click)="showToast()">Toast</ion-button>
  <ion-button color="danger" expand="block" (click)="showActionSheet()">Action Sheet</ion-button>
  <ion-button color="danger" expand="block" (click)="showAlert()">Alert</ion-button>

</ion-content>